Data/Eddy_covariance/AMF_US-LS1_BASE-BADM_2-5 filter=lfs diff=lfs merge=lfs -text
Data/Eddy_covariance/AMF_US-LS2_BASE-BADM_2-5 filter=lfs diff=lfs merge=lfs -text
Data/Eddy_covariance/AMF_US-LS2_BASE-BADM_2-5.zip filter=lfs diff=lfs merge=lfs -text
Data/Eddy_covariance/AMF_US-CMW_FLUXNET_2001-2021_v1.3_r1 filter=lfs diff=lfs merge=lfs -text
Data/Eddy_covariance/AMF_US-CMW_FLUXNET_2001-2021_v1.3_r1.zip filter=lfs diff=lfs merge=lfs -text
Data/Eddy_covariance/AMF_US-LS1_BASE-BADM_2-5.zip filter=lfs diff=lfs merge=lfs -text
Data/Eddy_covariance/AMF_US-LS1_FLUXNET_2003-2007_v1.3_r1 filter=lfs diff=lfs merge=lfs -text
Data/Eddy_covariance/AMF_US-LS1_FLUXNET_2003-2007_v1.3_r1.zip filter=lfs diff=lfs merge=lfs -text
Data/Eddy_covariance/AMF_US-CMW_BASE-BADM_3-5 filter=lfs diff=lfs merge=lfs -text
Data/Eddy_covariance/AMF_US-CMW_BASE-BADM_3-5.zip filter=lfs diff=lfs merge=lfs -text
Data/Eddy_covariance/* filter=lfs diff=lfs merge=lfs -text
